<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="notepad" class="day03.notepad" scope="prototype"></bean>
    <bean id="personFectory" class="day03.personFectory"></bean>
    <bean id="newperson" factory-bean="personFectory" factory-method="newperson"></bean>
</beans>